<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008916308799-3vto79vqvs8d9br2t0iaug53mutitk7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008916308799-3vto79vqvs8d9br2t0iaug53mutitk7n</string>
	<key>API_KEY</key>
	<string>AIzaSyDBPk_VhIGJALgN65hfYw0BPwavfB5eDy0</string>
	<key>GCM_SENDER_ID</key>
	<string>1008916308799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.hotelsapp</string>
	<key>PROJECT_ID</key>
	<string>hotels-cfc9e</string>
	<key>STORAGE_BUCKET</key>
	<string>hotels-cfc9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008916308799:ios:31e4258cb82d34e5ec298a</string>
</dict>
</plist>